
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.board{

    background-color: #333;
	.row{
		text-align: left;
		margin-bottom: 10px;

		.sequence{
			text-align: center;
		}
	}
	.colors{
		li{
			margin-left: 5px;
			margin-right: 5px;
			border-color: white;
			&.selected{

				border: 2px solid red;
			}
		}
	}
	.status{
		margin: 0px;
		padding: 0px;
		list-style-type: none;
		position: relative;
		width: 50px;

		li{
			width: 10px;
			height: 10px;
			border-radius: 50%;
			border: 1px solid #ccc;
			background-color: #333;
			margin-right: 5px;
			margin-left: 5px;
			display: inline-block;

			&.match{
				background-color:  #e83434;
			}

			&.color-match{
				background-color:  white;
			}


		}
	}
}
.section{
	padding: 20px;
	text-align: center;

	.name{
		margin-bottom: 15px;
	}
}

.colors{

	margin: 0px;
	padding: 8px 5px 2px 5px;
	display: inline-block;

	&.selected{
		border: 1px solid #395db7;

		border-radius: 5px;
	}
	li{
		border:1px solid #333;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		display: inline-block;
		cursor: pointer;

		&.blue{
			background-color: #395db7;
		}

		&.rose{
			background-color: #ee6dbd;
		}
		&.yellow{
			background-color: #d7f227;
		}

		&.green{
			background-color: #40cf40;
		}

		&.orange{
			background-color: orange;
		}

		&.red{
			background-color: #e83434;
		}
	}
}